# Keyword

Keywrods are pre-defined names for doing specific tasks in programs

In [7]:
import keyword
keyword.kwlist
len(keyword.kwlist)

35

In [8]:
10+20

30

In [9]:
10+20+30*40-20

1210

In [10]:
"hello"

'hello'

In [11]:
print("welcome to python classes")

welcome to python classes

In [12]:
100+200+300+500+1500

2600

In [13]:
10+20

30

# Variables:

Variable is name for store the value in memory location

# Identifiers for creating variable

* keywords name not use as variable name
* Special Character not allowed except underscore(_)
* Variable name not start with digits
* vaibale name does not allow the spaces

In [23]:
# welcome=12
# abc$=20
# abc bbc=30
#abc_bbc=30
# 23hai=56
# hai23=45
# Hai=34
# if=56

In [30]:
# assign values into variables
a=10
print(type(a))

b=23.45
print(type(b))

c='welcome'
print(type(c))

d=2+30j
print(type(d))

e=True
print(type(e))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>

In [33]:
# type conversions

# convert from int to str
a=20
print("before convert a data type is",type(a))

s=str(a)
print(type(s))

print("*********")
# convert from str to int
a='20'
print(type(a))
b=int(a)
print(type(b))

before convert a data type is <class 'int'>
<class 'str'>
*********
<class 'str'>
<class 'int'>

# Operations:
-------

* Arthemetic operations
    * +,-,*,/,//,%,**
* Logical Operators
    * and,or,not
* Bitwise Operators
    * &,|,!
* Assignment Operators
    * =, +=,-=, *=, /=, //=, %=, **=
* conditional operators
    * <,>,<=,>=,==,!=
* Special Operators
    * in, not in and is is not

In [40]:
a=10
b=350
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

b=2
d=3
print(b**d)  # 2**3 => 2*2*2

360
-340
3500
0.02857142857142857
0
10
8

In [47]:
a=3
b=2

a+=b  # a=a+b => a=5
print(a)

a*=b
print(a)  # a=a*b a=5*2

b+=30
print(b)

b-=a
print(b)

5
10
32
22

In [54]:
# and => statements all true
# or  => any one statement is true then condition is true
# not => if true then false and if false then true

True and True
True and False
(10==10) and (20>300)
(10==10) or (20>300)
True or True
not True
not False

True

In [55]:
a=10
b=5
c=a&b
print(c)

0

In [56]:
a=14
b=5
c=a&b
print(c)

4

In [57]:
a=14
b=5
c=a|b
print(c)

15

In [67]:
10<20
10>20
20>10

10<=23 and 10>5

"hello"=="Hello"

0==True

10!=20

True

In [69]:
a=10
b=int('20')
a+b

30

In [70]:
a=55
f=float(a)
f

55.0